<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test automtion regression suite" verbose="1"
	thread-count="1" parallel="tests">

	<test name="Freshworks - Chrome test">
		<classes>
			<class name="WM.DockerWithChrome" />
		</classes>
	</test>
</suite>